body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

.todo-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 50px;
  background-color: #222;
}

.header {
  text-align: left;
  text-transform: uppercase;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #353132;
  border-radius: 12px;
}

.form:focus-within {
  outline: 1px solid grey;
}

.form__input {
  width: 100%;
  background-color: #353132;
  appearance: none;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  color: white;
  outline: none;
}

.form__button {
  flex: 1;
  white-space: nowrap;
  background: #fcba28;
  color: #231f20;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 200ms;
}

.form__button:hover {
  opacity: 0.8;
}

.todo__list {
  list-style: none;
  padding: 0;
  margin: 0;
}